<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.jasonhezz.likesplash">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Splash">
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/Theme.Splash.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.search.SearchActivity"
            android:theme="@style/Theme.Splash.Search" />
        <activity android:name=".ui.profile.ProfileActivity" />
        <activity
            android:name=".ui.collection.detail.CollectionDetailActivity"
            android:theme="@style/Theme.Splash.Translucent" />
        <activity
            android:name=".ui.photodetail.PhotoDetailActivity"
            android:theme="@style/Theme.Splash.Translucent" />
    </application>

</manifest>